
{% extends 'base.html' %}

{% block content %}
	<hr>
	<div class="row" align="center" >
		<div class="col">
			<div class="col-md-6 ">
				<div class="card-header" style="background-color: #7abecc">
					<h3 >Password Reset</h3>
				</div>
			</div>
		</div>

	</div>
	<hr>

		<div class="row" align="center" >
		<div class="col">
			<div class="col-md-6 ">
				<div class="card-header" style="background-color: #7abecc">
					<p >Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>

						<form method="post">

							{% csrf_token %}
							{{form}}
							<input type="Submit" class="btn-primary" name="Send email">

						</form>
				</div>
			</div>
		</div>

	</div>
	<hr>
{% endblock %}