{% extends 'base.html' %}

{% block content %}
	<hr>
	<div class="row" align="center" >
		<div class="col">
			<div class="col-md-6 ">
				<div class="card-header" style="background-color: #7abecc">
					<h3>Enter new password</h3>
					<hr>
						<p>Please enter your new password twice so we can verify you typed it in correctly.</p>

						<form method="post">
							{% csrf_token %}
							{{form}}
							<input type="Submit" name="Update Password">
						</form>
				</div>
			</div>
		</div>

	</div>
	<hr>


{% endblock %}
